.header {
  background-color: #212529;
}
.nav-link {
  color: #adb5bd;
}
.nav-link:hover {
  color: #ffffff;
}
.nav-link:focus {
  color: #ffffff;
}
.heroes-img {
  box-shadow: inset 0px 3px 13px 0px #00000045;
  border-radius: 50%;
}
.img-fluid {
  height: auto;
}
.im {
  font-size: 2rem;
}   
.btn-success {
  box-shadow:2px 4px 14px 0.5px #d1d1d1;
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4a4a4a;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
}
.btn {
  --bs-btn-padding-x: 2.75rem;
}

para-bio{
    color: #212529;
}